body{
    background: url('image8.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.RegistrationForm {
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 40px ;
    padding-left: 40px;
    padding-right: 40px; 
    border-radius: 5px;
    padding-bottom: 40px;
}

.Hblue{
    color: blue;
    font-size: 20px;
    font-weight: 800;
}

.lightBlue {
    color: #1774cb;
    margin-top: 100px;

}
a:hover{
    text-decoration: none;
}

.blue {
    color: blue;
    font-weight: bold;

}

.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid grey;
}

.signUpButt {
    background-color: blue;
}

input::-webkit-input-placeholder {
    font-size: 13px;
}
label{
    color: #1774cb;
}
input:focus, input:active{
    outline-color: transparent !important;
   border: none !important;
}
input{
    box-shadow: none;
}

.form-check-input{
    border-style: none;
}